<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
    		  <ul>
        	    <li><a href="https://github.com/alandixon">My github</a></li>
        		    <li><a href="http://www.alandixon.org">Old website</a></li>
			    </ul>
		  </footer>
		</body>
	</html>
